#body {
    width: 100%;
    height: 100%;
    }

#banner {
    width: 100%;
    position: relative;
    text-align: center;
    border: 2px solid black;
    background-color: #A033FF;
    }

#banner img {
    height: 100px;
    margin: 5px;
    }

nav a:hover {
    background-color: #FFF8D6;
}

nav a:active {
    background-color: #1CFAFF;
    }

#view {
    font-size: 12px;
    overflow: scroll;
    text-align: left;
    }

#footer {
    overflow: scroll;
    display: inline;
    position: relative;
    text-align: center;
    font-size: 12px;
    bottom: 0px;
    }

#presentingsponsor p {
    display: block;
    }


#presentingsponsor img:hover {
    background-color: yellow;
    border: 1px solid black;
    border-radius: 2px;
    }

#presentingsponsor img {
    height: 130px;
    }

#sponsors img:hover {
    background-color: teal;
    border: 1px solid black;
    border-radius: 2px;
    }

#sponsors img {
    height: 65px;
    padding: 5px;
    }

#roster-content {
    overflow: scroll;
    }